{% extends "base.html" %} <title>{% block title %}Posts{% endblock %}</title>   {% block content %}

<h1 class="ui center aligned header">All Posts</h1>

    <hr>
    <h2>Create New Blog Post:</h2>
    <form class="ui form" action='/posts' method='POST'>
        <div class="field">
            Title: <input type='text' name='title' id='title'>
        <br/>
        </div>
        <div class="field">
            Post: <input type='text' name='content' id='content'>
        <br/>
        </div>

        <button class="ui blue button" type="submit">Post</button>

    </form>
    <hr>

    {% for post in posts %}
    <div class="ui segment">
        <h1>{{ post.title }}</h1>
        <hr>
        <h3>{{ post.content }}</h3>
        <br>
        <h5>Written by: {{ post.author }} on {{ post.date }}</h5>

        <a class="ui red button" href='/posts/delete/{{post.id}}'>Delete</a>
        <a class="ui blue button" href='/posts/edit/{{post.id}}'>Edit</a>
        <hr>
    </div>
    {% endfor%}
{% endblock %}
